@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-image: url(img/hand-painted-watercolor-pastel-sky-background_23-2148902771.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 50px;
}
nav > ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
nav li {
  list-style: none;
  margin: 15px;
  padding: 15px;
  border: 2px solid red;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
nav li:hover {
  background-color: red;
}
.dropdown-menu {
  display: none;
  background-color: grey;
  padding: 0;
}
nav > ul > li:hover > ul {
  display: block;
  position: absolute;
}
.dropdown-menu li {
  padding: 0;
}
.con {
  text-align: center;
}
footer {
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
  background-color: #0b0d17;
}
h4 {
  color: #ff5959;
  font-size: 60px;
  margin-bottom: -10px;
}
h5 {
  color: grey;
  font-size: 20px;
}
